/* Configuration général du css */
.content {
  margin-top: 32px;
}
h1 {
  text-align: center;
  font-weight: bold;
}
.sub-h1 {
  font-size: 24px;
  text-align: center;
}
.modal-body {
  margin:15px;
}
/* Configuration de la navbar */
.nav-css {
  min-height: 32px;
  background-color: rgba(0, 0, 0, 0.82);
  color: white;
  text-align: center;
}
.nav-text {
  line-height: 32px;
}

/* Formulaire */

/* Formulaire de creation */

.btn-form {
  margin-top: 20px;
}
/* Affichage de la liste todo */

/* Body de la liste */
.panel-fix {
  height: 200px;
  overflow: scroll;
  overflow-x: hidden;
}
